<h1> rock&paper&scissors. </h1>
<h2> hey <%= @player_name %> </h2>

<h4> make your move!</h4>

<form action="/play_game" method="post">



<input type="submit" name="play" value="scissors">
<input type="submit" name="play" value="rock">
<input type= "submit" name="play" value="paper">
</form>

