<h1> rock&paper&scissors. </h1>
<h2> hey <%= @player_cname %> </h2>

<h4> make your move!</h4>

<form action="/play_game" method="post">
<input type="submit" value="scissors">
<input type="submit" value="rock">
<input type= "submit" value="paper">
</form>

