<center><h2> resultsa </h2>

<%= @player_name %>

<h3> you did <%= @play %> </h3>


<h3> Robot chose <%= @robot %> </h3>

 <%= @result %>


play again.... ? 
<form action='/play' method='get'>
<input type="submit" value="play">
</form>
