<div style='border: 3px solid #40FF00'> <center>
<h1> rock&paper&scissors. </h1>

  <form action="/create_player" method="post">
  firstname: 
          <input type="text" name="player_name">
          <input type="submit" value="play">
  </form>




</div>